.custom-orange {
  color: rgb(255, 119, 34) !important;
  font-size: 3rem;
}

.logo{
  height: 25px;
  width: 25px;
}

.custom-mid{
  background-color: rgb(237, 123, 51) ;
}

.bgimg {
  background-image: url("/public/pictures/landscape.jpg");
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat; 
}

.custom-text {
  color: rgb(255, 255, 255);
  font-weight: bold; 
  font-size: 1.25rem;
  text-shadow: -0.5px -0.5px 0.5px rgb(0, 0, 0), 0.5px -0.5px 0.5px rgb(0, 0, 0), -0.5px  0.5px 0.5px rgb(0, 0, 0), 0.5px  0.5px 0.5px rgb(0, 0, 0);
}
  
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.text-content{
  background-color: rgba(255, 255, 255, 0.518);
  padding: 30px;
  border: none;
  border-radius: 30px;
  margin-bottom: 30px;
}

.custom-bg-color {
    background-color: rgba(255, 255, 255, 0.518);
}
